*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 650px;
    color: white;
}

.div-htop{
    height: 100px;
    background-color: #255EE9;
}

.htop-bar{
    padding: 20px 0px;
    max-width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo, .login {
    width: 20%;
}

.link{
    width: 60%;
    text-align: center;
}

.login{
    text-align: right;
}

.button{
    border-radius: 20px;
    padding: 10px 10px;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: #23272A;
    color: white;
}

.purple{
    background-color: #7289DA;
    color: white;
}

.htop-bar li{
    display: inline-block;
    padding: 0px 20px;
}

li a{
    text-decoration: none;
    color: white;
}


.hbottom{
    height: 550px;
    background-color: blue; 
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 200px 0px;
    
}

.conthbottom{
    text-align: center;
    width: 40%;
    margin: auto;
}

h1, p{
    margin: 20px 0px;
}

p {
    line-height: 25px;
    font-size: 18px;
}

h1{
    font-size: 40px;
}

.maincont{
    max-width: 1170px;
    display: flex;
    margin: auto;
    padding: 80px 0px
}

.imgmain{
    width: 70%; 
}

.didascmain{
    width: 30%;
}

.bg-gray{
    background-color: #F6F6F6;
    padding: 50px 0px;
}

.secondimg{
    margin-left: 100px;
}

.mainbottom{
    text-align: center;
    max-width: 1170px;
    margin: auto
}

.star{
    background-image: url(../img/stars.svg);
    height: 50px;
    margin: 20px 0px;
}

footer{
    background-color: #23272A;
    padding: 50px;
    color: white;
}


.container-footer{
    max-width: 1170px;
    margin: auto;
}

.footertop{
    display: flex;
    height: 400px;
}

.colbig{
    width: 28%;
   
}

.colsmall{
    width: 18%;
}

footer h2{
    color: #6E81C7;
    font-size: 33px;
    padding: 20px 0px;
}

footer span{
    padding: 8px 0px;
}

#flag{
    height: 13px;
}

i{
    margin: 15px 15px 15px 0px;
}