*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 650px;
    color: white;
}

.div-htop{
    height: 100px;
    background-color: #255EE9;
}

.htop-bar{
    padding: 20px 0px;
    width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo, .login {
    width: 20%;
}

.link{
    width: 60%;
    text-align: center;
}

.login{
    text-align: right;
}

.button{
    border-radius: 20px;
    padding: 10px 10px;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: #23272A;
    color: white;
}

.htop-bar li{
    display: inline-block;
    padding: 0px 20px;
}

li a{
    text-decoration: none;
    color: white;
}


.hbottom{
    height: 550px;
    background-color: blue; 
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 200px 0px;
    
}

.conthbottom{
    text-align: center;
    width: 40%;
    margin: auto;
}

h1, p{
    margin: 20px 0px;
}

p {
    line-height: 25px;
}

.maincont, .maincont2{
    height: 400px;
}

.maincont, .maincont2, .maincont3, .ftop {
    display: flex;
    justify-content:center ;
    align-items: center;
}


.maincont{
    background-color: aqua;
}

.maincont2,.maincont3 {
    background-color: burlywood;
}

.imgmain{
    width: 400px;
    height: 200px;
    background-color: brown;
}

.didascmain{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

.imgmain.seconda{
    order: 2;
}

.didascmain.seconda{
    order: 1;
}

.maincont3{
    height: 700px;

}

.bottom-main{
    background-color: lightgreen;
    height: 600px;
    width: 500px;
}

.boxfooter{
    background-color: firebrick;
    height: 600px;

}

.ftop{
    height: 500px;
}

.col1{
    height: 400px;
    width: 200px;
    background-color: salmon;
    border: 2px dashed black;

}

.col2{
    height: 400px;
    width: 150px;
    background-color: aquamarine;
    border: 2px dashed white;
}

.fbottom{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: yellow;
    align-items: center;
}

.pink{
    background-color: pink;
}


.container{
    max-width: 1170px;
    margin: auto;
}
